<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="none.esportsre">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/csgo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/csgo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".csgo"
            android:label="Counter-Strike"
            android:parentActivityName=".main">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main" />
        </activity>
        <activity android:name=".lol" />

        <receiver android:name=".MyBroadcastReceiver"  android:process=":remote"> </receiver>

        <activity
            android:name=".settings"
            android:label="Settings"
            android:parentActivityName=".main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main" />
        </activity>
        <activity
            android:name=".csgoResults"
            android:label="Recent results"
            android:parentActivityName=".csgo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".csgo" />
        </activity>
        <activity
            android:name=".csgoEvents"
            android:label="Events"
            android:parentActivityName=".csgo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".csgo" />
        </activity>
        <activity
            android:name=".liveMatch"
            android:label="Live match"
            android:parentActivityName=".csgo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".csgo" />
        </activity>

    </application>

</manifest>